// Цвета
@each $key,
$value in $colors {
	.color-#{$key} {
		color: var(--color-#{$key});
	}
}

// Фоновые цвета
@each $key,
$value in $colors {
	.bg-#{$key} {
		background-color: var(--color-#{$key});
	}
}

.bg {
	&-l1 {
		background: var(--bg1);
	}

	&-l2 {
		background: var(--bg2);
	}

	&-l3 {
		background: var(--bg3);
	}
}