.container {
  padding: 30px 15px;

  @media(min-width: $mobile) {
    & {
      padding: 50px calc(50% - 265px);
    }
  }

  @media(min-width: $tablet) {
    & {
      padding: 60px calc(50% - 360px);
    }
  }

  @media(min-width: $laptop) {
    & {
      padding: 70px calc(50% - 580px);
    }
  }
}