.dialog {
  &--small {
    width: 340px;
  }

  &--medium {
    width: 500px;
  }

  &--large {
      max-width: 1120px;
  }

  @media(max-width: $mobile) {
    & {
      width: 100%;
      max-width: 100%;
    }
  }
}