.display {
    @include getDisplay;

    @media(max-width: $laptop) {
        &-lg {
            @include getDisplay;
        }
    }

    @media(max-width: $tablet) {
        &-tb {
            @include getDisplay;
        }
    }

    @media(max-width: $mobile) {
        &-md {
            @include getDisplay;
        }
    }
}

.visibility {
    &-visible {
        visibility: visible;
    }

    &-hidden {
        visibility: hidden;
    }
}

.overflow {
    &-auto {
        overflow: auto;
    }

    &-visible {
        overflow: visible;
    }

    &-hidden {
        overflow: hidden;
    }

    &-scroll {
        overflow: scroll;
    }
}