.flex {
    display: flex;

    &-wrap {
        flex-wrap: wrap;
    }

    &-grow {
        flex-grow: 1;
    }

    &-direction {
        &-column {
            flex-direction: column;

            &-reverse {
                flex-direction: column-reverse;
            }
        }

        &-row {
            flex-direction: row;

            &-reverse {
                flex-direction: row-reverse;
            }
        }
    }
}

.align {
    @include getAlign('items');
    @include getAlign('self');

    &-content {
        @include getContent('align');
    }
}

.justify-content {
    @include getContent('justify');
}

.gap {
    @for $i from 1 through 10 {
        &-#{$i} {
            grid-gap: var(--size-#{$i});
        }
    }

    @media(max-width: $laptop) {
        @for $i from 1 through 10 {
            &-lg-#{$i} {
                grid-gap: var(--size-#{$i});
            }
        }
    }

    @media(max-width: $mobile) {
        @for $i from 0 through 5 {
            &-md-#{$i} {
                grid-gap: var(--size-#{$i});
            }
        }
    }
}