@import "./functions";

.m {
    &-auto {
        margin: auto
    }

    &t-auto {
        margin-top: auto;
    }

    &b-auto {
        margin-bottom: auto;
    }

    &l-auto {
        margin-left: auto;
    }

    &r-auto {
        margin-right: auto;
    }

    &y-auto {
        margin-top   : auto;
        margin-bottom: auto;
    }

    &x-auto {
        margin-left : auto;
        margin-right: auto;
    }
}

@include getDistance('m', 'margin');
@include getDistance('mt', 'margin-top');
@include getDistance('mb', 'margin-bottom');
@include getDistance('ml', 'margin-left');
@include getDistance('mr', 'margin-right');
@include getDistancetXY('my', 'margin', top, bottom);
@include getDistancetXY('mx', 'margin', left, right);