.text {
    font-weight: normal;
    font-style : normal;

    &--italic {
        font-style: italic;
    }

    &--uppercase {
        text-transform: uppercase;
    }

    &--underline {
        text-decoration: underline;
    }

    @each $value in $text-align {
        &--#{$value} {
            text-align: #{$value};
        }
    }

    @for $i from 5 through 25 {
        &--#{calc(2 * $i)} {
            font-size: var(--font-#{calc(2 * $i)});
        }
    }

    @media(max-width: $laptop) {
        @for $i from 5 through 25 {
            &-lg-#{calc(2 * $i)} {
                font-size: var(--font-#{calc(2 * $i)});
            }
        }
    }

    @media(max-width: $mobile) {
        @for $i from 5 through 25 {
            &-md-#{calc(2 * $i)} {
                font-size: var(--font-#{calc(2 * $i)});
            }
        }
    }
}

@for $i from 1 to 10 {
    .bold-#{$i} {
        font-weight: #{calc($i * 100)};
    }
}

@for $i from 1 to 10 {
    .interval-#{$i} {
        line-height: #{calc(1 + ($i / 10))};
    }
}

.font-base {
    font-family: var(--font-base);
}