  <% var data = {

    title: 'Корзина',

  } %>

  <%= _.template(require('./includes/header.html').default)({data}) %>

  <%= _.template(require('./includes/navigation.html').default)({data}) %>

  <main class="basket container pt-10 pt-md-5">
    <div class="basket__content flex justify-content-between gap-10 gap-md-5">
      <div class="basket__info width-100">
        <div class="text text--38 text-md-28 bold-8 mb-10 mb-md-5"><%= data.title %></div>
        <div class="flex flex-direction-column gap-4 mb-10 mb-md-5">
          <% for (var i = 0; i < 4; i++) { %>
            <div class="flex align-items-center justify-content-between flex-wrap bg-white border radius-4 bs gap-5 p-2 pr-6 pr-md-2">
              <div class="flex align-items-center width-md-100">
                <div class="basket__pic pic pic--rect-x bg-sec radius-4 mr-6 mr-lg-3">
                  <div class="loader">
                    <svg class="icon">
                        <use xlink:href="img/icons.svg#loader" />
                    </svg>
                  </div>
                  <picture>
                    <img class="pic__img" src="img/banner.jpg" alt="" loading="lazy">
                  </picture>
                </div>
                <div class="flex flex-direction-column">
                  <div class="text text--18 text-md-16 bold-6 mb-7 mb-md-3">Лилия Дивайн 1 шт.</div>
                  <div class="flex flex-direction-column">
                    <div class="text text--12 bold-4">
                      Скидка <span class="bold-7">35%</span>
                    </div>
                    <div class="text text--12 bold-4">
                      Тип цены <span class="bold-7">Розничная цена</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="quantity flex align-items-center justify-content-between bg-white border radius-2">
                <button class="quantity__btn btn btn--gray color-black ">-</button>
                <input class="quantity__input text text--20 text--center color-black bold-6 border-none" type="text" value="1" name="quantity">
                <button class="quantity__btn btn btn--gray color-black ">+</button>
              </div>
              <div class="flex flex-direction-column">
                <div class="text text--16 bold-4 fade-60 text--line">250 ₽</div>
                <div class="text text--24 bold-6">150 ₽</div>
              </div>
              <div class="basket__del btn btn--red btn--light link text text--22">
                <svg class="icon">
                  <use xlink:href="img/icons.svg#x" />
              </svg>
              </div>
            </div>
          <% } %>
        </div>
        <form class="basket__promo radius-4 py-5 px-4">
          <div class="text text--20 bold-6 color-white mb-5">Введите код купона для скидки</div>
          <div class="grid">
            <div class="grid-col-12 grid-col-md-9">
              <div class="form-input-cover">
                <input type="text" class="form-input">
              </div>
            </div>
            <div class="grid-col-12 grid-col-md-3">
              <button class="btn btn--primary btn--fill width-100">Добавить</button>
            </div>
          </div>
        </form>
      </div>
      <div class="basket__sidebar width-100">
        <div class="basket__block">
          <div class="bg-sec radius-4 p-2 mb-5">
            <div class="bg-white radius-4 py-6 px-5 mb-4">
              <div class="flex align-items-end justify-content-between text text--20 text-md-16 bold-6 interva-5 mb-3">
                К оплате ........................ <span class="bold-7">2100 ₽</span>
              </div>
              <div class="flex align-items-end justify-content-between text text--12 text-md-14 bold-4 interva-5 mb-4">
                Товары, 3 шт. ............................... <span class="bold-7">2100 ₽</span>
              </div>
              <div class="text text--16 bold-4 fade-60">Без учета стоимости доставки</div>
            </div>
            <div class="flex flex-direction-column p-2">
              <div class="text text--24 bold-7 mb-5">Оформить заказ</div>
              <button class="btn btn--primary btn--fill mb-4">
                <img class="icon text text--28 mr-1" src="img/Warning.svg" alt="">
                <span>Cумма заказа от 1450 ₽</span>
              </button>
              <div class="basket__die flex align-items-center justify-content-center flex-direction-column radius-4 py-6 px-4">
                <span class="text text--16 text--center bold-7">Минимальная сумма заказа 1450 ₽</span>
                <span class="text text--16 text--center bold-4">В вашей корзине не хватает товаров</span>
              </div>
            </div>
          </div>
          <a class="basket__link link display-block text text--16 text--center fade-70 width-max mx-auto" href="">Читать условия доставки и оплаты</a>
        </div>
      </div>
    </div>
  </main>

  <!-- Подвал -->
  <%= _.template(require('./includes/footer.html').default)() %>