  <% var data = {

    title: 'Фильтр',

  } %>

  <%= _.template(require('./includes/header.html').default)({data}) %>

  <%= _.template(require('./includes/navigation.html').default)({data}) %>

  <main class="catalog container pt-10 pt-md-5">
    <div class="text text--38 text-md-28 bold-8 mb-10 mb-md-5"><%= data.title %></div>

    <%= _.template(require('./includes/banner.html').default)({}) %>

    <div class="flex justify-content-between mb-10 mb-lg-5">

      <div class="catalog-sidebar width-100 mr-8 -filter-" id="filter">
        <div class="flex align-items-center justify-content-between display-none display-lg-flex pt-5 mb-5">
          <span class="text text--30 bold-7">Фильтр</span>
          <button class="btn btn--primary btn-small btn--icon text text--22" data-toggle-link="filter">
            <svg class="icon">
              <use xlink:href="img/icons.svg#cross" />
            </svg>
          </button>
        </div>
        <div class="bg-white bs overflow-hidden radius-4 mb-7 mb-md-3">
          <div class="catalog__block pb-7 px-7 pb-lg-5 px-lg-5" data-toggle-cover>
            <div class="catalog__toggler flex align-items-center justify-content-between width-100 pt-6 pt-lg-5" data-toggle-link>
              <span class="text text--16 bold-6 mr-2">Раздел</span>
              <span class="catalog__arrow text text--10 color-primary">
                <svg class="icon">
                  <use xlink:href="img/icons.svg#triangle-right" />
                </svg>
              </span>
            </div>
            <div class="toggle-active" data-toggle-content data-toggle-static="true" data-toggle-height="true">
              <div class="flex flex-direction-column gap-4 mt-5">
                <% for(let i=0; i < 15; i++){ %>
                  <label class="catalog__item form-field form-checkbox">
                    <input type="checkbox" class="form-input-checkbox">
                    <div class="form-checkbox-target form-toggle-target">
                      <svg class="icon">
                        <use xlink:href="img/icons.svg#gal-ochka" />
                      </svg>
                    </div>
                    <div class="catalog__text text-body-1 fade-70 ml-2">Саженцы</div>
                  </label>
                <% } %>
              </div>
            </div>
          </div>
        </div>
        <div class="bg-white bs overflow-hidden radius-4 mb-7 mb-md-3">
          <div class="catalog__block pb-7 px-7 pb-lg-5 px-lg-5" data-toggle-cover>
            <div class="catalog__toggler flex align-items-center justify-content-between width-100 pt-6 pt-lg-5" data-toggle-link>
              <span class="text text--16 bold-6 mr-2">Расстояние при посадке</span>
              <span class="catalog__arrow text text--10 color-primary">
                <svg class="icon">
                  <use xlink:href="img/icons.svg#triangle-right" />
                </svg>
              </span>
            </div>
            <div class="toggle-active" data-toggle-content data-toggle-static="true" data-toggle-height="true">
              <div class="flex flex-direction-column gap-4 mt-5">
                <% for(let i=0; i < 2; i++){ %>
                  <label class="catalog__item form-field form-checkbox">
                    <input type="checkbox" class="form-input-checkbox">
                    <div class="form-checkbox-target form-toggle-target">
                      <svg class="icon">
                        <use xlink:href="img/icons.svg#gal-ochka" />
                      </svg>
                    </div>
                    <div class="catalog__text text-body-1 fade-70 ml-2">Саженцы</div>
                  </label>
                <% } %>
              </div>
            </div>
          </div>
        </div>
        <div class="bg-white bs overflow-hidden radius-4 mb-7 mb-md-3">
          <div class="catalog__block pb-7 px-7 pb-lg-5 px-lg-5" data-toggle-cover>
            <div class="catalog__toggler flex align-items-center justify-content-between width-100 pt-6 pt-lg-5" data-toggle-link>
              <span class="text text--16 bold-6 mr-2">Ширина</span>
              <span class="catalog__arrow text text--10 color-primary">
                <svg class="icon">
                  <use xlink:href="img/icons.svg#triangle-right" />
                </svg>
              </span>
            </div>
            <div data-toggle-content data-toggle-static="true" data-toggle-height="true">
              <div class="flex flex-direction-column gap-4 mt-5">
                <% for(let i=0; i < 2; i++){ %>
                  <label class="catalog__item form-field form-checkbox">
                    <input type="checkbox" class="form-input-checkbox">
                    <div class="form-checkbox-target form-toggle-target">
                      <svg class="icon">
                        <use xlink:href="img/icons.svg#gal-ochka" />
                      </svg>
                    </div>
                    <div class="catalog__text text-body-1 fade-70 ml-2">Саженцы</div>
                  </label>
                <% } %>
              </div>
            </div>
          </div>
        </div>
        <div class="bg-white bs overflow-hidden radius-4 mb-7 mb-md-3">
          <div class="catalog__block pb-7 px-7 pb-lg-5 px-lg-5" data-toggle-cover>
            <div class="catalog__toggler flex align-items-center justify-content-between width-100 pt-6 pt-lg-5" data-toggle-link>
              <span class="text text--16 bold-6 mr-2">Ширина</span>
              <span class="catalog__arrow text text--10 color-primary">
                <svg class="icon">
                  <use xlink:href="img/icons.svg#triangle-right" />
                </svg>
              </span>
            </div>
            <div data-toggle-content data-toggle-static="true" data-toggle-height="true">
              <div class="flex flex-direction-column gap-4 mt-5">
                <% for(let i=0; i < 2; i++){ %>
                  <label class="catalog__item form-field form-checkbox">
                    <input type="checkbox" class="form-input-checkbox">
                    <div class="form-checkbox-target form-toggle-target">
                      <svg class="icon">
                        <use xlink:href="img/icons.svg#gal-ochka" />
                      </svg>
                    </div>
                    <div class="catalog__text text-body-1 fade-70 ml-2">Саженцы</div>
                  </label>
                <% } %>
              </div>
            </div>
          </div>
        </div>
        <div class="text text--24 bold-6 mb-7 mb-md-3">Цена</div>
        <div class="bg-white bs overflow-hidden radius-4 mb-7 mb-md-3 p-7 p-lg-5">
          <label class="form-field">
            <div class="form-input-cover">
              <div class="flex align-items-center justify-content-between width-100 pb-8">
                <div class="flex flex-direction-column flex-grow mr-3">
                  <span class="text text--14 bold-5 fade-70 mb-1">От</span>
                  <span class="form-range-from border radius-4 brs-4 bd-all py-3 px-4"></span>
                </div>
                <div class="flex flex-direction-column flex-grow">
                  <span class="text text--14 bold-5 fade-70 mb-1">До</span>
                  <span class="form-range-to border radius-4 py-3 px-4"></span>
                </div>
              </div>
              <div class="form-range range" data-type="double" data-max="100" data-min="0" data-to="76">
                <input type="text" class="range-input-from" hidden>
                <input type="text" class="range-input-to" hidden>
                <div class="range-inner"> </div>
              </div>
            </div>
          </label>
        </div>
        <div class="flex flex-direction-column">
          <button class="btn btn--primary btn--fill mb-5">Показать</button>
          <button class="btn btn--primary btn--contur">Сбросить</button>
        </div>
      </div>
      <div class="width-100">
        <button class="btn btn--primary btn--fill width-100 mb-4 display-none display-lg-flex" data-toggle-link="filter">
          Открыть фильтр
        </button>

        <div class="filter width-max mb-10 mb-md-5" data-toggle-cover>
          <button class="flex align-items-center" data-toggle-link>
            <div class="text text--18 bold-6">Сортировка: <span class="bold-400 fade-60">по популярности</span></div>
            <div class="filter__arrow text text--15 ml-2">
              <svg class="icon">
                <use xlink:href="img/icons.svg#arrow-right" />
              </svg>
            </div>
          </button>
          <div class="filter-menu bg-white bs radius-4 p-2" data-toggle-content>
            <div class="filter-link link display-block radius-2 py-3 px-4">Цена по убывыанию</div>
            <div class="filter-link link display-block radius-2 py-3 px-4">Цена по возрастанию</div>
            <div class="filter-link active link display-block radius-2 py-2 px-4">По популярности</div>
            <div class="filter-link link display-block radius-2 py-3 px-4">По новизне</div>
          </div>
        </div>

        <div class="grid mb-10">
          <% for (var i = 0; i < 3; i++) { %>
            <div class="grid-col-6 grid-col-lg-4">
              <a class="card card-action overflow-hidden height-100 waved -product-card-" href="javascript:;">
                <div class="card-pic width-100">
                  <div class="pic pic--rect-x">
                    <div class="loader">
                      <svg class="icon">
                          <use xlink:href="img/icons.svg#loader" />
                      </svg>
                    </div>
                    <picture>
                      <img class="pic__img -product-card-img-" data-src="img/banner.jpg" src="img/banner.jpg" alt="" loading="lazy">
                    </picture>
                    <label class="like">
                      <input class="like__checkbox display-none" type="checkbox">
                      <span class="like__heart flex align-items-center justify-content-center text text--18 link radius-2 visibility-hidden fade-0">
                          <svg class="icon">
                              <use xlink:href="img/icons.svg#like" />
                          </svg>
                      </span>
                  </label>
                  </div>
                </div>
                <div class="card-content p-4 p-md-2">
                  <div class="text text--16 text-md-14 bold-7 mb-3 -product-card-name-">Лилия ЛА-гибрид Роял Кисс</div>
                  <div class="text text--16 bold-4 text-md-12 fade-60 mb-5">Цветок, характеризующийся стойкостью и неприхотлив...</div>
                  <div class="card-bottom flex align-items-center justify-content-between mt-auto">
                    <div class="flex flex-direction-column mr-2">
                      <span class="text text--24 text-md-18 bold-8 -product-card-price-">187 ₽</span>
                    </div>
                    <% if (i === 0) { %>
                      <button class="btn btn--primary btn--fill width-md-100 mt-auto -product-card-btn-">В корзину</button>
                    <% } else if (i === 1) { %>
                      <button class="btn btn--primary btn--light btn--contur width-md-100 mt-auto -product-card-btn-" disabled>Добавлено</button>
                    <% } else { %>
                      <button class="btn btn--gray btn--light btn--contur width-md-100 mt-auto" disabled>Отсутствует</button>
                    <% } %>
                  </div>
                </div>
              </a>
            </div>
          <% } %>
        </div>

        <div class="product-in-basket bg-white radius-4 bs brs-4 width-100 p-5 -basket-modal-">
          <div class="product-in-basket__close -modal-close-">
            <svg class="icon text-body-1">
              <use xlink:href="img/icons.svg#cross"></use>
            </svg>
          </div>
          <div class="text-body-0 bold-6 mb-5">Товар добавлен в корзину</div>
          <div class="flex flex-align-center mb-5">
            <div class="product-in-basket__pic mr-3">
              <img class="product-in-basket__img -basket-modal-img-" src="" alt="">
            </div>
            <div class="product-in-basket__content flex">
              <div class="text-body-1 mb-1 -basket-modal-name-"></div>
              <div class="flex flex-direction-column">
                <!-- <div class="text-h6 mr-3"><span class="-basket-modal-price-"></span> руб.</div>
                <div class="product-in-basket__old-price text-body-1 fade-60 mr-3"><span class="-basket-modal-old-price-"></span> руб.</div> -->
                <div class="text-h6 bold-6"><span class="-basket-modal-quantity-">2</span> шт</div>
              </div>
            </div>
          </div>
          <div class="product-in-basket__btns flex">
            <button class="btn btn--primary btn--fill">Перейти в корзину</button>
          </div>
        </div>
    
        <script>
    
          const cards = document.querySelectorAll('.-product-card-')
    
          const modal = document.querySelector('.-basket-modal-')
          const modalClose = modal.querySelector('.-modal-close-')
          const modalImg = modal.querySelector('.-basket-modal-img-')
          const modalName = modal.querySelector('.-basket-modal-name-')
          const modalOldPrice = modal.querySelector('.-basket-modal-old-price-')
          const modalPrice = modal.querySelector('.-basket-modal-price-')
          const modalQuantity = modal.querySelector('.-basket-modal-quantity-')
    
          let modalRemoveTimeout
    
          cards.forEach(card => {
    
            const img = card.querySelector('.-product-card-img-')
            const imgSrc = img.dataset.src
            const name = card.querySelector('.-product-card-name-')
            const oldPrice = card.querySelector('.-product-card-old-price-')
            const price = card.querySelector('.-product-card-price-')
            const quantity = card.querySelector('.-product-card-quantity-')
            const btn = card.querySelector('.-product-card-btn-')
            let nameText
            let oldPriceText
            let priceText
            let val
    
            if (name) {
              nameText = name.textContent
            }
    
            if (oldPrice) {
              oldPriceText = oldPrice.textContent
            }
    
            if (price) {
              priceText = price.textContent
            }
    
            if (btn) {
              btn.addEventListener('click', () => {
      
                if (modal.classList.contains('product-in-basket--open')) {
      
                  modal.classList.remove('product-in-basket--open')
      
                }
      
                setTimeout(() => {
                  
                  modal.classList.add('product-in-basket--open')
      
                  if (quantity) {
      
                    val = quantity.value
      
                  } else {
      
                    val = 1
      
                  }
      
                  if (modalImg) modalImg.src = imgSrc
                  if (modalName) modalName.innerHTML = nameText
                  if (modalOldPrice) modalOldPrice.innerHTML = oldPriceText
                  if (modalPrice) modalPrice.innerHTML = priceText
                  if (modalQuantity) modalQuantity.innerHTML = val
      
                  if (modalRemoveTimeout) {
      
                    clearTimeout(modalRemoveTimeout)
      
                  }
      
                  modalRemoveTimeout = setTimeout(() => {
      
                    modal.classList.remove('product-in-basket--open')
      
                  }, 12000)
                  
                }, 300)
                
      
              })
            }
    
            modalClose.addEventListener('click', () => {
                
                modal.classList.remove('product-in-basket--open')
        
            })
    
          })
    
        </script>

        <div class="pagination flex align-items-center gap-4 gap-md-2">
          <a class="pagination__btn pagination__btn--fade btn btn--white btn--fill px-0" href="">
            <svg class="icon">
              <use xlink:href="img/icons.svg#arrow-left" />
            </svg>
          </a>
          <a class="pagination__btn pagination__btn--active btn btn--primary btn--fill px-0" href="">1</a>
          <a class="pagination__btn btn btn--gray btn--contur fade-60 px-0" href="">2</a>
          <a class="pagination__btn btn btn--gray btn--contur fade-60 px-0" href="">3</a>
          <a class="pagination__btn btn btn--gray btn--contur fade-60 px-0" href="">4</a>
          <a class="pagination__btn btn btn--gray btn--contur fade-60 px-0" href="">5</a>
          <a class="pagination__btn btn btn--gray fade-60 px-0" href="">...</a>
          <a class="pagination__btn btn btn--gray btn--contur fade-60 px-0" href="">26</a>
          <a class="pagination__btn btn btn--white btn--fill px-0" href="">
            <svg class="icon">
              <use xlink:href="img/icons.svg#arrow-right" />
            </svg>
          </a>
        </div>

        </div>
      </div>
    </div>
  </main>

  <!-- Подвал -->
  <%= _.template(require('./includes/footer.html').default)() %>