  <% var data = {

    title: 'Акции  и скидки',

  } %>

  <%= _.template(require('./includes/header.html').default)({data}) %>

  <%= _.template(require('./includes/navigation.html').default)({data}) %>

  <main class="benefit container overflow-hidden pt-10 pt-md-5">
    <div class="text text--38 text-md-28 bold-8 mb-10 mb-md-5"><%= data.title %></div>
    <div class="grid grid-spacing-10">
      <% for (var i = 0; i < 8; i++) { %>
        <div class="grid-col-12 grid-col-lg-6">
          <a class="card card-action flex-direction-row align-items-center link height-100 waved pl-2 pr-10 pr-lg-2" href="javascript:;">
            <div class="card-info width-100 height-100 mr-8">
              <div class="card-image pic pic--square radius-4 height-100">
                <div class="loader">
                  <svg class="icon">
                      <use xlink:href="img/icons.svg#loader" />
                  </svg>
                </div>
                <picture>
                  <img class="pic__img" src="img/banner.jpg" alt="" loading="lazy">
                </picture>
              </div>
              <div class="card-discount flex align-items-center justify-content-center text text--18 bold-7 color-white bg-red radius-2 p-1">-30%</div>
              <div class="card-days flex align-items-center justify-content-center flex-direction-column color-white bg-primary p-1">
                <span class="text text--14 text--center bold-5 mb-2">До конца</span>
                <span class="card-number text text--26 text--center bold-9 py-3 radius-3 mb-2">12</span>
                <span class="text text--14 text--center bold-5">дней</span>
              </div>
            </div>
            <div class="card-content py-7">
              <div class="text text--24 text--uppercase bold-7 mb-2">ммм, голубика</div>
              <div class="text text--16 bold-4 mb-6">
                Семена томатов дешевле на 30%! Успейте купить!
              </div>
              <button class="btn btn--sec btn--fill color-black width-max">Подробнее</button>
            </div>
          </a>
        </div>
      <% } %>
    </div>
  </main>

  <!-- Подвал -->
  <%= _.template(require('./includes/footer.html').default)() %>