  <% var data = {

    title: 'Документы',

  } %>

  <%= _.template(require('./includes/header.html').default)({data}) %>

  <%= _.template(require('./includes/navigation.html').default)({data}) %>

  <%= _.template(require('./includes/back.html').default)() %>

  <main class="documentation container pt-10 pt-md-5">
    <div class="text text--38 text-md-28 bold-8 mb-10 mb-md-5"><%= data.title %></div>
    <div class="flex flex-direction-column gap-2">
      <div class="documentation__item flex justify-content-between bg-white gap-3 bg-white radius-6 bs py-2 pr-2 pl-6 py-md-5 pl-md-4 pr-md-4">
        <div class="documentation__content flex flex-direction-column py-4 py-md-0">
          <div class="text text--16 text-md-14 bold-4 mb-1 mb-md-5">
            Закон РФ от 07.02.1992 N 2300-1 (ред. от 05.12.2022) «О защите прав потребителей»
          </div>
          <a class="text text--16 text--underline bold-6 color-primary" href="" target="_blank">Скачать</a>
        </div>
        <div class="documentation__pic flex align-items-center justify-content-center radius-6 overflow-hidden">
          <img class="icon" src="img/document.svg" alt="">
        </div>
      </div>
      <div class="documentation__item flex justify-content-between bg-white gap-3 bg-white radius-6 bs py-2 pr-2 pl-6 py-md-5 pl-md-4 pr-md-4">
        <div class="documentation__content flex flex-direction-column py-4 py-md-0">
          <div class="text text--16 text-md-14 bold-4 mb-1 mb-md-5">
            Постановление Правительства Российской Федерации от 31.12.2020 № 2463 "Об утверждении Правил продажи товаров по договору розничной купли-продажи, перечня товаров длительного пользования, на которые не распространяется требование потребителя о безвозмездном предоставлении ему товара, обладающего этими же основными потребительскими свойствами, на период ремонта или замены такого товара и перечня непродовольственных товаров надлежащего качества, не подлежащих обмену, а также о внесении изменений в некоторые акты Правительства Российской Федерации
          </div>
          <a class="text text--16 text--underline bold-6 color-primary" href="" target="_blank">Скачать</a>
        </div>
        <div class="documentation__pic flex align-items-center justify-content-center radius-6 overflow-hidden">
          <img class="icon" src="img/document.svg" alt="">
        </div>
      </div>
      <div class="documentation__item flex justify-content-between bg-white gap-3 bg-white radius-6 bs py-2 pr-2 pl-6 py-md-5 pl-md-4 pr-md-4">
        <div class="documentation__content flex flex-direction-column py-4 py-md-0">
          <div class="text text--16 text-md-14 bold-4 mb-1 mb-md-5">
            ГОСТ Р 59370-2021 «Зеленые» стандарты. Посадочный материал декоративных растений
          </div>
          <a class="text text--16 text--underline bold-6 color-primary" href="" target="_blank">Скачать</a>
        </div>
        <div class="documentation__pic flex align-items-center justify-content-center radius-6 overflow-hidden">
          <img class="icon" src="img/document.svg" alt="">
        </div>
      </div>
      <div class="documentation__item flex justify-content-between bg-white gap-3 bg-white radius-6 bs py-2 pr-2 pl-6 py-md-5 pl-md-4 pr-md-4">
        <div class="documentation__content flex flex-direction-column py-4 py-md-0">
          <div class="text text--16 text-md-14 bold-4 mb-1 mb-md-5">
            Стандарты на посадочный материал декоративных и плодовых растений рекомендуемые на территории Российской Федерации
          </div>
          <a class="text text--16 text--underline bold-6 color-primary" href="" target="_blank">Скачать</a>
        </div>
        <div class="documentation__pic flex align-items-center justify-content-center radius-6 overflow-hidden">
          <img class="icon" src="img/document.svg" alt="">
        </div>
      </div>
    </div>
  </main>

  <!-- Подвал -->
  <%= _.template(require('./includes/footer.html').default)() %>