  <% var data = {

    title: 'Избранное',

  } %>

  <%= _.template(require('./includes/header.html').default)({data}) %>

  <%= _.template(require('./includes/navigation.html').default)({data}) %>

  <main class="favourites container pt-10 pt-md-5">
    <div class="text text--38 text-md-28 bold-8 mb-10 mb-md-5"><%= data.title %></div>
    <div class="flex align-items-center justify-content-between flex-wrap radius-3 p-7 px-md-4 gap-5" style="background-color: #E0E5F4;">
      <div class="flex align-items-center">
        <img class="icon text text--50 text-md-40 mr-5 mr-md-2" src="img/heart.svg" alt="">
        <span class="text text--20 text-md-16 bold-6">На данный момент вы не добавили ни одного товара</span>
      </div>
      <a class="btn btn--primary btn--fill" href="">В каталог</a>
    </div>
  </main>

  <!-- Подвал -->
  <%= _.template(require('./includes/footer.html').default)() %>