  <% var data = {

    title: 'Личный кабинет',

  } %>

  <%= _.template(require('./includes/header.html').default)({data}) %>

  <%= _.template(require('./includes/navigation.html').default)({data}) %>

  <main class="lk container pt-10 pt-md-5">
    <div class="text text--38 text-md-28 bold-8 mb-10 mb-md-5"><%= data.title %></div>
    <div class="lk__content flex justify-content-between gap-10 gap-lg-5 gap-md-0">
      <div class="lk__sidebar width-100 mb-md-10">
        <div class="lk__block bg-white radius-4 bs py-6 px-7 py-lg-4 px-lg-4">
          <div class="flex align-items-center mb-6">
            <div class="lk__ava pic pic--square bg-gray radius-max mr-4">
              <picture>
                <img class="pic__img -ava-" src="img/person.png" alt="" loading="lazy">
              </picture>
            </div>
            <div class="text text--24 text-lg-20 bold-6">Нурсултан Хуйдайбердиев</div>
          </div>
          <nav class="flex flex-direction-column">
            <a class="lk__btn btn btn--sec btn--fill justify-content-start mb-4" href="">
              <img class="icon text text--28 mr-3" src="img/basket.svg" alt="">
              <span class="text text--18 bold-6 color-black">Заказы</span>
            </a>
            <a class="lk__btn btn btn--sec btn--fill justify-content-start mb-4" href="">
              <img class="icon text text--28 mr-3" src="img/list.svg" alt="">
              <span class="text text--18 bold-6 color-black">Мои сертификаты</span>
            </a>
            <a class="lk__btn btn btn--sec btn--fill justify-content-start mb-4" href="">
              <img class="icon text text--28 mr-3" src="img/user.svg" alt="">
              <span class="text text--18 bold-6 color-black">Настройки профиля</span>
            </a>
            <a class="lk__btn btn btn--primary btn--fill justify-content-start mb-8" href="">
              <img class="icon text text--28 mr-3" src="img/pen.svg" alt="">
              <span class="text text--18 bold-6">Изменить пароль</span>
            </a>
            <a class="lk__link btn btn--link text text--18 bold-6 color-red width-max" href="">Выйти из личного кабинета</a>
          </nav>
        </div>
      </div>
      <div class="lk__info width-100">
        <form>
          <div class="text text--24 bold-6 mb-8 mb-md-5">Смена пароля</div>
          <div class="bg-white radius-4 bs p-6 mb-10 mb-md-5">
            <div class="grid grid-spacing-6">
              <div class="grid-col-12 grid-col-md-6">
                <label class="form-field">
                  <div class="text text--16 bold-6 mb-3">Новый пароль</div>
                  <div class="form-input-cover">
                    <input type="password" class="form-input -password-" required>
                    <span class="sending__eye flex align-items-center justify-content-center text text--24 link color-black fade-40 -eye-">
                      <svg class="icon">
                          <use xlink:href="img/icons.svg#eye-visible" />
                      </svg>
                    </span>
                  </div>
                </label>
              </div>
              <div class="grid-col-12 grid-col-md-6">
                <label class="form-field">
                  <div class="text text--16 bold-6 mb-3">Повторите новый пароль</div>
                  <div class="form-input-cover">
                    <input type="password" class="form-input -password-" required>
                    <span class="sending__eye flex align-items-center justify-content-center text text--24 link color-black fade-40 -eye-">
                      <svg class="icon">
                          <use xlink:href="img/icons.svg#eye-visible" />
                      </svg>
                    </span>
                  </div>
                </label>
              </div>
              <div class="grid-col-12">
                <div class="lk__symbols text text--14 text--center bold-4 fade-80 radius-2 p-4">Минимум 8 символов с прописными или строчными буквами и цифрами</div>
              </div>
              <div class="grid-col-12">
                <button class="btn btn--primary btn--fill width-max" type="submit">Сохранить изменения</button>
              </div>
              <div class="grid-col-md-6 grid-col-lg-4">
                <div class="color-red text text--12 bold-4 interval-5">
                  Пароль должен быть не менее <br>
                  <span class="bold-6">8 символов длиной</span>
                </div>
              </div>
              <div class="grid-col-md-6 grid-col-lg-5">
                <div class="color-red text text--12 bold-4 interval-5">
                  Пароль должен содержать <br>
                  <span class="bold-6">латинские символы нижнего регистра (a-z)</span>
                </div>
              </div>
              <div class="grid-col-md-6 grid-col-lg-3">
                <div class="color-red text text--12 bold-4 interval-5">
                  Пароль должен содержать <br>
                  <span class="bold-6">цифры (0-9)</span>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </main>

  <script>
    document.addEventListener('change', (event) => {
  
      if (event.target.classList.contains('-file-')) {
  
        let readFile = new FileReader();
        let files = event.target.files[0];
        readFile.readAsDataURL(files);
  
        readFile.addEventListener('loadend', () => {
  
          event.target.nextElementSibling.src = readFile.result;
  
        });
  
        const form = document.querySelector('.-form-')
        const img = document.querySelector('.-img-')
        const lkImg = document.querySelector('.-ava-')
        let formData = new FormData(form)
      
        let promise = fetch('', {
      
          method: 'POST',
          body: formData
      
        }).then((response) => {
      
          response.text()
  
        }).then((result) => {
      
          img.src = readFile.result;
          lkImg.src = readFile.result;
  
        })
  
      }
  
    });
  </script>

  <!-- Подвал -->
  <%= _.template(require('./includes/footer.html').default)() %>