  <% var data = {

    title: 'Смена пароля',

  } %>

  <%= _.template(require('./includes/header.html').default)({data}) %>

  <main class="sending container pic">
    <img class="sending__bg pic__img" src="img/flowers.png" alt="">
    <div class="sending__content bg-white radius-4 overflow-hidden mx-auto">
      <div class="flex align-items-center justify-content-center text text--24 text-md-18 text--center bold-8 bg-sec py-5 px-8 px-md-4"><%= data.title %></div>
      <form class="flex flex-direction-column py-7 px-8 px-md-4">
        <div class="flex flex-direction-column align-items-center justify-content-center text text--16 bolt-4 text--center mb-4">
          <span class="text text--14 fade-80">
            Придумайте новый пароль
          </span>
        </div>
        <label class="form-field mb-4">
          <div class="text text--16 bold-6 mb-2">Пароль</div>
          <div class="form-input-cover">
              <input type="password" class="form-input -password-" required>
              <span class="sending__eye flex align-items-center justify-content-center text text--24 link color-black fade-40 -eye-">
                <svg class="icon">
                    <use xlink:href="img/icons.svg#eye-visible" />
                </svg>
            </span>
          </div>
        </label>
        <label class="form-field mb-5">
          <div class="text text--16 bold-6 mb-2">Повторите пароль</div>
          <div class="form-input-cover">
              <input type="password" class="form-input -password-" required>
              <span class="sending__eye flex align-items-center justify-content-center text text--24 link color-black fade-40 -eye-">
                <svg class="icon">
                    <use xlink:href="img/icons.svg#eye-visible" />
                </svg>
            </span>
          </div>
        </label>
        <div class="sending__info radius-2 text text--14 bold-4 interva-4 fade-90 py-3 px-6 mb-5">
          Минимум 8 символов с прописными <br class="display-md-none">
          или строчными буквами и цифрами
        </div>
        <button class="btn btn--primary btn--fill" type="submit">Изменить</button>
        <div class="password-error text text--14 b-4 color-red mt-5">
          Пароль должен быть не менее <br class="display-md-none">
          <span class="bold-6">8 символов длиной</span><br>
          <br>
          Пароль должен содержать <span class="bold-6">латинские символы <br class="display-md-none">
          нижнего регистра (a-z)</span><br>
          <br>
          Пароль должен содержать <span class="bold-6">цифры (0-9)</span>
        </div>
      </form>
    </div>
  </main>

  <!-- Подвал -->
  <%= _.template(require('./includes/footer.html').default)() %>