  <% var data = {

    title: 'Смена пароля',

  } %>

  <%= _.template(require('./includes/header.html').default)({data}) %>

  <main class="sending container pic">
    <img class="sending__bg pic__img" src="img/flowers.png" alt="">
    <div class="sending__content bg-white radius-4 overflow-hidden mx-auto">
      <div class="flex align-items-center justify-content-center text text--24 text-md-18 text--center bold-8 bg-sec py-5 px-8 px-md-4"><%= data.title %></div>
      <form class="flex flex-direction-column py-7 px-8 px-md-4">
        <div class="flex flex-direction-column align-items-center justify-content-center text text--16 bolt-4 text--center mb-8">
          <span class="text text--14 fade-80">
            Введите номер телефона.<br>
            Код для смены пароля будет выслан по СМС
          </span>
        </div>
        <label class="form-field mb-8">
          <div class="text text--16 bold-6 mb-2">Телефон</div>
          <div class="form-input-cover">
              <input type="tel" class="form-input" placeholder="+7 " required>
          </div>
        </label>
        <button class="btn btn--primary btn--fill" type="submit">Восстановить</button>
      </form>
    </div>
  </main>

  <!-- Подвал -->
  <%= _.template(require('./includes/footer.html').default)() %>