  <% var data = {

    title: 'Виноград белый Мускат Оттонель',

  } %>

  <%= _.template(require('./includes/header.html').default)({data}) %>

  <%= _.template(require('./includes/navigation.html').default)({data}) %>

  <main class="page-content container pt-10 pt-md-5">

    <%= _.template(require('./includes/banner.html').default)({}) %>

    <section class="product-detail">
      <div class="product-detail__content flex justify-content-between gap-10 gap-lg-5">
        <div class="product-detail__pictures width-100">
          <div class="product-detail-slider slider bg-gray radius-4 overflow-hidden mb-3">
            <div class="swiper grid-wrap">
              <div class="swiper-wrapper">
                <% for(let i=0; i < 5; i++){ %>
                  <a class="swiper-slide grid-col-12 pic pic--square waved" href="img/banner.jpg" data-fancybox="detail">
                    <div class="loader">
                      <svg class="icon">
                          <use xlink:href="img/icons.svg#loader" />
                      </svg>
                    </div>
                    <picture>
                      <img class="pic__img pic__img--rise" src="img/banner.jpg" alt="" loading="lazy">
                    </picture>
                  </a>
                <% } %>
              </div>
            </div>
            <div class="card-nameplate flex align-items-center justify-content-center radius-2 py-1 px-3" style="background-color: #25B9E8;">
              <img class="icon text text--24 mr-2" src="img/nameplate-1.svg" alt="">
              <span class="text text--16 color-white bold-7">Новинка</span>
            </div>
          </div>
          <div class="product-detail-bullets slider">
            <div class="swiper grid-wrap grid-spacing-2">
              <div class="swiper-wrapper">
                <% for(let i=0; i < 5; i++){ %>
                  <div class="swiper-slide grid-col-3 link">
                    <div class="pic pic--rect-x radius-4 overflow-hidden waved">
                      <img class="pic__img" src="img/banner.jpg" alt="">
                    </div>
                  </div>
                <% } %>
              </div>
            </div>
          </div>
        </div>
        <div class="width-100">
          <div class="text text--24 bold-7 mb-3"><%= data.title %></div>
          <div class="flex align-items-center flex-wrap gap-9 gap-lg-3 mb-7 mb-lg-4">
            <div class="text text--16 bold-4 fade-60">Vinogradus Belus Muskatus</div>
            <div class="text text--16 bold-4 fade-60">Артикул: 4678</div>
            <div class="flex align-items-center">
              <img class="icon text text--12 mr-2" src="img/circle.svg" alt="">
              <div class="text text--16 bold-4 fade-60">В наличии</div>
            </div>
          </div>
          <div class="flex align-items-center flex-wrap gap-10 gap-lg-3 mb-9 mb-lg-5">
            <div class="flex align-items-end">
              <span class="text text--38 bold-8 mr-3">164 ₽</span>
              <span class="card-price text text--24 bold-4 fade-40">194 ₽</span>
            </div>
            <div class="quantity flex align-items-center justify-content-between bg-white border radius-2">
              <button class="btn btn--gray color-black ">-</button>
              <input class="quantity__input text text--20 text--center color-black bold-6 border-none" type="text" value="1" name="quantity">
              <button class="btn btn--gray color-black ">+</button>
            </div>
          </div>
          <div class="product-detail-timer flex align-items-center radius-2 mb-10 mb-lg-5">
            <div class="product-detail-timer__pic flex align-items-center justify-content-center display-lg-none radius-2">
              <div class="product-detail-timer__img flex align-items-center justify-content-center radius-2">
                <img class="icon text text--42" src="img/oclock.svg" alt="">
              </div>
            </div>
            <div class="flex flex-direction-column py-5 px-10 px-md-5">
              <div class="text text--16 bold-6 mb-1">Купи саженцы винограда с выгодой 20%!</div>
              <div class="flex align-items-center">
                <span class="text text--14 bold-4 fade-60 mr-2">До конца акции</span>
                <span class="text text--16 color-red bold-6">06:34:23:02</span>
              </div>
            </div>
          </div>
          <div class="flex flex-direction-column mb-2">
            <div class="grid border-bottom pb-2 mb-2">
              <div class="grid-col-12 grid-col-lg-4">
                <span class="text text--16 bold-4 fade-60">Особенности</span>
              </div>
              <div class="grid-col-12 grid-col-lg-8">
                <span class="text text--16 bold-5">Два в одном - урожайный и декоративный</span>
              </div>
            </div>
            <div class="grid border-bottom pb-2 mb-2">
              <div class="grid-col-12 grid-col-lg-4">
                <span class="text text--16 bold-4 fade-60">Высота растения</span>
              </div>
              <div class="grid-col-12 grid-col-lg-8">
                <span class="text text--16 bold-5">50.0000 - см</span>
              </div>
            </div>
            <div class="grid border-bottom pb-2 mb-2">
              <div class="grid-col-12 grid-col-lg-4">
                <span class="text text--16 bold-4 fade-60">Расстояние при посадке</span>
              </div>
              <div class="grid-col-12 grid-col-lg-8">
                <span class="text text--16 bold-5">100 - 150 см</span>
              </div>
            </div>
            <div class="grid border-bottom pb-2">
              <div class="grid-col-12 grid-col-lg-4">
                <span class="text text--16 bold-4 fade-60">Зимостойкость</span>
              </div>
              <div class="grid-col-12 grid-col-lg-8">
                <span class="text text--16 bold-5">22°C</span>
              </div>
            </div>
          </div>
          <a class="product-detail__link display-block link text text--14 bold-4 color-primary width-max mb-4" href="">Все характеристики и описание</a>
          <div class="flex align-items-start flex-wrap gap-10 gap-lg-5">
            <div class="flex align-items-center">
              <button class="btn btn--primary btn--fill mr-4">В корзину</button>
              <label class="product-detail__like like">
                <input class="like__checkbox display-none" type="checkbox">
                <span class="like__heart btn btn--sec btn--contur text text--18 link radius-2">
                    <svg class="icon">
                        <use xlink:href="img/icons.svg#like" />
                    </svg>
                </span>
              </label>
            </div>
            <div class="flex flex-direction-column">
              <span class="text text--16 bold-4 mb-1">Можно купить этот товар, позвонив по номеру</span>
              <a class="flex align-items-center link link--underline width-max" href="tel: 8 (800) 000-00-00">
                <span class="text text--16 color-dark mr-3">
                  <svg class="icon">
                      <use xlink:href="./img/icons.svg#phone" />
                  </svg>
                </span>
                <span class="text text--20 bold-8">8 (800) 000-00-00</span>
              </a>
            </div>
          </div>
        </div>
      </div>

      <script>
            const cardDetailBullets = new Swiper('.product-detail-bullets .swiper', {
                slidesPerView: 'auto',
                watchSlidesProgress: true,
                freeMode: true,
            })
          
            const cardDetailSlider = new Swiper('.product-detail-slider .swiper', {
                slidesPerView: 'auto',
                watchSlidesProgress: true,
                spaceBetween:20,
                thumbs: {
                    swiper: cardDetailBullets,
                }
            })
      </script>
    </section>
  </main>


  <!-- Подвал -->
  <%= _.template(require('./includes/footer.html').default)() %>