  <% var data = {

    title: 'Гарантия',

  } %>

  <%= _.template(require('./includes/header.html').default)({data}) %>

  <%= _.template(require('./includes/navigation.html').default)({data}) %>

  <main class="page-content container pt-10 pt-md-5">
    <section class="warranty">
      <div class="text text--38 text-md-28 bold-8 mb-10 mb-md-5"><%= data.title %></div>
      <div class="text text--16 bold-4 mb-10 mb-md-5">
        Мы прилагаем все усилия для того, чтобы каждый покупатель остался довольным качеством приобретенного товара. К отправке допускаются только здоровые и крепкие саженцы, которые проходят двойной контроль качества перед сборкой и доставкой покупателю. Просим учитывать тот факт, что живые растения могут подсохнуть во время транспортировки, а неправильная техника посадки приведет к их гибели. Если Вас коснулась аналогичная неприятная ситуация, стоит обратить внимание на то, что мы предлагаем каждому покупателю гарантию замены некачественного посадочного материала.
      </div>
      <div class="text text--24 bold-6 mb-5">Гарантийные сроки</div>
      <div class="text text--16 bold-4 mb-10 mb-md-5">
        После получения заказа у покупателя есть 360 дней для обращения в службу поддержки. Если установленный срок обращения истек, претензия не будет рассмотрена. Обработка претензионных обращений производится в течение 5 рабочих дней. В течение этого срока претензия будет рассмотрена и комиссия вынесет соответствующее решение. Клиент получает возможность заменить некачественный товар или вернуть денежные средства. Почтовые расходы для покупателя в этом случае остаются бесплатными. В случае замены некачественного посадочного материала все расходы по отправке мы берем на себя. Для получения замены нет необходимости отправлять обратно полученный ранее товар. При необходимости возврата денежных средств, покупатель обязан выслать фото или видео некачественных саженцев с нашими бирками-петельками, на основе которых будет вынесено решение.
      </div>
      <div class="text text--24 bold-6 mb-5">Обязательные условия</div>
      <div class="text text--16 bold-4 mb-5">Обращение в службу поддержки будет удовлетворено, если были соблюдены следующие условия:</div>
      <ul class="listing pl-5 mb-10 mb-md-5">
        <li class="color-primary mb-5">
          <span class="text text--16 bold-4 color-black">
            Посылка была получена в курьерской службе или на почтовом отделении не позднее 5 дней после ее поступления. Сроки получения отправлений можно отслеживать в личном кабинете курьерской службы СДЭК, или на сайте Почты России. Просроченное получение товара влечет за собой снижение его качества. В этом случае гарантия на отправленный посадочный материал не распространяется.
          </span>
        </li>
        <li class="color-primary mb-5">
          <span class="text text--16 bold-4 color-black">
            На предоставленных фото должны быть хорошо видны бирки-петельки или этикетки нашего магазина.
          </span>
        </li>
        <li class="color-primary">
          <span class="text text--16 bold-4 color-black">
            Обращение в службу поддержки для замены товара было произведено в течение 14 дней после получения посылки. Работа специалистов с гарантийными заявками (рекомендации по восстановлению саженца, его посадке и дальнейшему уходу, при необходимости) проводится в течение неограниченного срока. При этом заявка покупателя остается актуальной.  
          </span>
        </li>
      </ul>
      <div class="text text--16 bold-4 bg-white radius-4 bs p-10 p-lg-5 p-md-3">
        <span class="bold-7">Пожалуйста, обратите внимание,</span> что магазин не несет ответственность за развитие аномальных погодных условий в регионе покупателя. Также, при несоблюдении правил посадки или игнорировании климатических условий региона, магазин снимает с себя ответственность за последующее состояние приобретенных саженцев. Учитывайте характеристики приобретаемого товара перед оформлением заказа.
      </div>
    </section>
  </main>


  <!-- Подвал -->
  <%= _.template(require('./includes/footer.html').default)() %>