@import '../ui/scss/_variables.scss';
@import '../ui/scss/_functions.scss';

:root {

	@each $key,
	$value in $colors {
		@include getColors($value, $key);
	}

	@for $i from 0 through 10 {
		--size-#{$i}: #{calc(4 * $i) + px};
	}

	@for $i from 5 through 25 {
		--font-#{calc(2 * $i)}: #{calc(2 * $i / 16) + rem};
	}

	--bg1: #E9EAEC;
	--bg2: #F4F5F6;
	--bg3: #FFFFFF;

	--spacing: 4px;

	--media-lg: #{$lg};
	--media-md: #{$md};
	--media-sm: #{$sm};

	--font-base: 'Inter',
	Arial,
	Helvetica,
	sans-serif;

	--zi-l1: 321;
	--zi-l2: 322;
	--zi-l3: 323;
	--zi-l4: 324;
	--zi-l5: 325;
	--zi-l6: 326;
	--zi-l7: 327;
	--zi-l8: 328;
	--zi-l9: 329;
}

[data-theme="dark"] {
	@include getColors(#ffffff, text);

	--bg1: #181818;
	--bg2: #282828;
	--bg3: #323232;
}

body {
	color           : var(--color-black);
	font-family     : var(--font-base);
	background-color: var(--color-gray);
}

.active-enabled {
	display: none !important;
}

.toggle-active,
.tab-active,
.active {
	.active-disabled {
		display: none !important;
	}

	.active-enabled {
		display: flex !important;
	}
}


.header {
	&-top {
		&__link {
			transition: 0.3s;

			&:hover {
				color: var(--color-primary);
			}
		}
	}

	&-bottom {
		&__search {
			border   : 1.5px solid var(--color-primary);
			min-width: 510px;

			&:focus {
				border-color: var(--color-primary);
			}
		}

		&__loop {
			width        : 48px;
			height       : 48px;
			position     : absolute;
			top          : 0;
			right        : 0;
			border-radius: 0 var(--size-2) var(--size-2) 0;
			z-index      : var(--zi-l1);
		}
	}

	&-mobile {
		position: sticky;
		top     : 0;
		left    : 0;
		right   : 0;
		z-index : var(--zi-l3);
	}
}

.logo {
	&__img {
		min-width: 60px;
	}
}

.menu {
	&-btn {
		position: relative;
		width   : 48px;
		height  : 48px;
	}

	&-count {
		position  : absolute;
		top       : -5px;
		right     : -5px;
		width     : var(--size-5);
		height    : var(--size-5);
		background: radial-gradient(75.89% 75.89% at 79.21% 24.11%, #F24756 23.23%, #B22945 100%);
	}
}

.nav {
	&__main {
		max-width: 420px;
		position : relative;

		&::after {
			content         : '';
			position        : absolute;
			top             : 0;
			right           : 0;
			bottom          : 0;
			width           : 2px;
			height          : 24px;
			margin          : auto 0;
			background-color: var(--color-grey);
		}
	}

	&-top {
		position  : fixed;
		right     : 0;
		left      : 0;
		top       : -57px;
		transition: 0.2s;
		z-index   : var(--zi-l4);

		&__links {
			max-width: 980px;
		}

		&--scroll {
			top: 0;
		}
	}
}

.heart {
	fill  : var(--color-none);
	stroke: var(--color-dark);

	&--active {
		fill  : var(--color-red);
		stroke: var(--color-red);
	}
}

.mobile {
	position  : fixed;
	top       : 0;
	left      : 0;
	bottom    : 0;
	right     : 0;
	transition: 0.2s ease;
	z-index   : var(--zi-l4);

	&__head {
		transition: 0.3s ease 0.2s;
		position  : relative;
		top       : -80px;
	}

	&__nav {
		transition: 0.5s ease 0.5s;
		position  : relative;
		left      : -220px;
	}

	&__accordion:is([data-accordion="active"]) &__arrow {
		transform: rotate(90deg);
	}

	&__footer {
		transition: 0.5s ease 0.7s;
		position  : relative;
		bottom    : -30px;
	}
}

.-mobile- {
	&:is(&open-) {
		width     : 100%;
		visibility: visible;
		opacity   : 1;
	}

	&:is(&open-) &head- {
		top: 0;
	}

	&:is(&open-) &nav- {
		left   : 0;
		opacity: 1;
	}

	&:is(&open-) &footer- {
		opacity: 1;
		bottom : 0;
	}
}

.footer {
	@media(max-width: $mobile) {
		&__block {
			flex-direction : column;
			align-items    : center;
			justify-content: center;
		}
	}
}

.map {
	height: 410px;

	@media(max-width: $mobile) {
		& {
			height: 350px;
		}
	}
}

.listing,
.listing li {
	list-style: disc;
}

.bs {
	box-shadow: 0px 8px 14px rgba(35, 35, 35, 0.04);
}

.slider {
	&-prev {
		left: -30px;
	}

	&-next {
		left : auto;
		right: -30px;
	}
}

.swiper {
	margin-bottom : -15px;
	padding-bottom: 15px;
}

.catalog {
	&__name {
		max-width       : 100%;
		backdrop-filter : blur(8px);
		position        : absolute;
		bottom          : var(--size-4);
		right           : var(--size-4);
		left            : var(--size-4);
		height          : 80px;
		background-color: var(--color-black-70);
	}

	@media(max-width: $tablet) {
		&__name {
			bottom: var(--size-2);
			right : var(--size-2);
			left  : var(--size-2);
			height: 60px;
		}
	}
}

.quantity {
	&__btn {
		width : var(--size-5);
		height: var(--size-10);
	}

	&__input {
		max-width: var(--size-8);
	}
}

.like {
	position: absolute;
	top     : var(--size-4);
	right   : var(--size-4);

	&__heart {
		width           : 48px;
		height          : 48px;
		fill            : var(--color-none);
		stroke          : var(--color-dark);
		background-color: var(--color-white-40);
		transition      : 0.2s linear;
	}

	&__checkbox:checked+:is(&__heart) {
		fill      : var(--color-red);
		stroke    : var(--color-red);
		visibility: visible;
		opacity   : 1;
	}

	@media(max-width: $tablet) {
		&__heart {
			visibility: visible;
			opacity   : 1;
		}
	}
}

.pagination {

	@media(max-width: $laptop) {
		& {
			justify-content: center;
		}
	}
}

.info-banner {
	background: radial-gradient(74.38% 244.23% at 75.04% 76.25%, #FDBE60 0%, #F36312 82.99%);

	&__btn {
		min-width: max-content;
	}

	@media(max-width: $tablet) {
		& {
			text-align    : center;
			flex-direction: column;
		}
	}
}

.feedback {
	background: radial-gradient(74.38% 244.23% at 75.04% 76.25%, #FEFC4A 0%, #E2AD45 55.35%);
	position  : relative;

	&__bg {
		position: absolute;
		right   : 0;
		bottom  : 0;
		top     : 0;
	}

	&__content {
		position: relative;
	}

	&__input {
		width: 260px;
	}

	@media(max-width: $mobile) {
		& {
			background: radial-gradient(74.38% 244.23% at 130.04% 76.25%, #FEFC4A 0%, #E2AD45 55.35%);
		}

		&__input {
			width: 240px;
		}
	}
}

.error {
	&__input {
		border-color: var(--color-red);
	}

	&__text {
		position: absolute;
		right   : 0;
		bottom  : -18px;
	}
}

.rating {
	&__val:checked~&__item {
		color: var(--color-yellow);
	}

	@media(hover) {

		&__item:hover,
		&__item:hover~&__item {
			color: var(--color-yellow);
		}
	}
}

.documentation {
	&__pic {
		min-width : 84px;
		width     : 84px;
		height    : 84px;
		font-size : 52px;
		background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 95.83%), #F3BB4B;
	}

	@media(max-width: $md) {
		&__item {
			flex-direction: column;
		}

		&__pic {
			order: 1;
		}

		&__content {
			order: 2;
		}
	}
}

.product-in-basket {
	position  : fixed;
	top       : 40%;
	right     : 18px;
	max-width : 340px;
	z-index   : var(--zi-l3);
	opacity   : 0;
	visibility: hidden;
	transform : translateY(50px);
	transition: 0.3s;

	&--open {
		opacity   : 1;
		visibility: visible;
		transform : translateY(0);
	}

	&__close {
		position: absolute;
		top     : 20px;
		right   : 20px;
		cursor  : pointer;
	}

	&__pic {
		min-width    : 80px;
		height       : 72px;
		border-radius: 10px;
		position     : relative;
		overflow     : hidden;
	}

	&__img {
		position  : absolute;
		top       : 0;
		left      : 0;
		right     : 0;
		bottom    : 0;
		width     : 100%;
		height    : 100%;
		object-fit: cover;
	}

	&__content {
		flex-direction: column;
	}

	&__old-price {
		text-decoration: line-through;
	}

	&__btns {
		flex-direction: column;
	}

	@media(max-width: $md) {
		& {
			max-width: 320px;
			right    : 0;
			left     : 0;
			margin   : 0 auto;
		}
	}
}

.reviews {
	position  : relative;
	min-height: 100vh;

	&--bg {
		background: radial-gradient(74.38% 244.23% at 75.04% 76.25%, #FEFC4A 0%, #F3A712 82.99%);
	}

	&__bg {
		position      : absolute;
		inset         : 0;
		object-fit    : cover;
		pointer-events: none;
	}

	&__content {
		position: relative;
	}

	&__block {
		backdrop-filter: blur(20px);
		background     : radial-gradient(98.48% 326.98% at 0% 3.35%, #FFFFFF 0%, rgba(255, 255, 255, 0.8) 100%);

		&--sm {
			max-width: 370px;
		}

		&--lg {
			max-width: 535px;
		}
	}

	&__logo {
		width: 170px;
	}

	@media(min-width: $laptop) {
		&__block--lg {
			padding: 48px 52px;
		}
	}
}