.lk {
    &__sidebar {
        max-width: 340px;
    }

    &__block {
        position: sticky;
        top     : 80px;
    }

    &__ava {
        min-width: 52px;
    }

    &__btn {
        height: 60px;
    }

    &__link {
        border-bottom: 1px dashed var(--color-red);
    }

    &__pic {
        width : 48px;
        height: 48px;
    }

    &__order {
        position: relative;
    }

    &__product {
        min-width: 150px;
    }

    &__specifications {
        max-width: 250px;
    }

    &__label {
        flex  : 1;
        height: 48px;

        &-item {
            transition: 0.2s ease;
        }
    }

    &__checkbox:checked+&__label-item {
        color           : var(--color-white);
        background-color: var(--color-primary);
    }

    &__loop {
        position: absolute;
        top     : 12px;
        left    : 14px;
        z-index : var(--zi-l1);
    }
    
    &__symbols {
        background-color: var(--color-primary-20);
    }

    @media(max-width: $laptop) {
        &__sidebar {
            max-width: 100%;
        }

        &__block {
            position: static;
        }

        &__content {
            flex-direction: column;
        }

        &__detailed {
            flex-wrap: wrap;
        }
    }

    @media(max-width: $mobile) {
        &__order {
            flex-direction: column;
            align-items   : flex-start;
        }

        &__product {
            min-width: 120px;
        }

        &__price {
            position: absolute;
            bottom  : var(--size-2);
            right   : var(--size-3);
        }
    }
}

.orders {
    &__number {
        min-width: 60px;
    }
}

.profile {
    max-width: 250px;
    height   : 270px;

    &__block {
        border  : 1px dashed #99A7B8;
        position: relative;
    }

    @media(max-width: $mobile) {
        & {
            max-width: 100%;
        }
    }
}