.lk {
    &__sidebar {
        max-width: 340px;
    }

    &__block {
        position: sticky;
        top     : 80px;
    }

    &__ava {
        min-width: 52px;
    }

    &__btn {
        height: 60px;
    }

    &__link {
        border-bottom: 1px dashed var(--color-red);
    }

    &__pic {
        width : 48px;
        height: 48px;
    }

    &__order {
        position: relative;
    }

    &__product {
        min-width: 150px;
    }

    &__specifications {
        max-width: 250px;
    }

    &__label {
        flex  : 1;
        height: 48px;

        &-item {
            transition: 0.2s ease;
        }
    }

    &__checkbox:checked+&__label-item {
        color           : var(--color-white);
        background-color: var(--color-primary);
    }

    &__loop {
        position: absolute;
        top     : 12px;
        left    : 14px;
        z-index : var(--zi-l1);
    }
    
    &__symbols {
        background-color: var(--color-primary-20);
    }

    &__text {
        min-width: max-content;
    }

    &__dotted {
        border-bottom:  2px dotted var(--color-black);
    }

    &-certificates {
        &__pic {
            width: 190px;
            min-width: 190px;
        }

        &__content {
            max-width: 515px;
        }

        &__promo {
            border: 1px dashed var(--color-black-20);
        }

        &__cover {
            position: relative;
        }

        &__input {
            position: absolute;
            inset: 0;
        }

        &__copy {
            &::before {
                content: '';
                display: block;
                width: 18px;
                height: 18px;
                background: url('../img/copy.svg') no-repeat center / cover;
            }
        }
    }

    @media(max-width: $laptop) {
        &__sidebar {
            max-width: 100%;
        }

        &__block {
            position: static;
        }

        &__content {
            flex-direction: column;
        }

        &__detailed {
            flex-wrap: wrap;
        }
    }

    @media(max-width: $tablet) {
        &-certificates {
            &__item, &__promo {
                flex-direction: column;
                align-items: flex-start;
            }
        }
    }

    @media(max-width: $mobile) {
        &__order {
            flex-direction: column;
            align-items   : flex-start;
        }

        &__product {
            min-width: 120px;
        }

        &__price {
            position: absolute;
            bottom  : var(--size-2);
            right   : var(--size-3);
        }

        &-certificates {
            &__pic {
                width: 100%;
                min-width: 100%;
            }

            &__btns {
                flex-direction: column;
                align-items: stretch;
            }
        }
    }
}

.orders {
    &__number {
        min-width: 60px;
    }

    &__info {
        background: linear-gradient(270deg, rgba(255, 19, 19, 0.40) 0%, rgba(255, 19, 19, 0.00) 50.35%), #FFCA8C;
    }
}

.profile {
    max-width: 250px;
    height   : 270px;

    &__block {
        border  : 1px dashed #99A7B8;
        position: relative;
    }

    &__btn {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 5px;
        right: 5px;
    }

    &__save {
        max-width: 250px;
    }

    @media(max-width: $mobile) {
        & {
            max-width: 100%;
            height   : 180px;
        }

        &__save {
            max-width: 100%;
        }
    }
}

.select {
    width   : 100%;
    position: relative;
    z-index : 2;

    &.toggle-active &-toggler {
        border-end-end-radius  : 0;
        border-end-start-radius: 0;
    }

    &-toggler {
        width        : 100%;
        position     : relative;
        cursor       : pointer;
        display      : flex;
        align-items  : center;
        padding-right: 40px;
    }

    &-list {
        position  : absolute;
        left      : 0;
        top       : calc(100% - 1px);
        width     : 100%;
        z-index   : 2;
        border    : 1px solid #CCCCCC;
        transition: .3s ease;

        max-height: 420px;
        overflow  : auto;

        &:not(.toggle-active) {
            transform     : translateY(10px);
            opacity       : 0;
            pointer-events: none;
        }
    }

    &-item {
        padding   : 15px 12px;
        background: #fff;
        cursor    : pointer;

        &-inner {
            white-space  : nowrap;
            overflow     : hidden;
            text-overflow: ellipsis;
        }

        @media(hover) {
            &:hover {
                background: #F4F7F7;
            }
        }

        &-content {
            display: none;
        }
    }

    &-target {
        display: none;
    }
}