.product-detail {
    &__pictures {
        max-width: 440px;
    }

    &-timer {
        background-color: #E0E5F4;

        &__pic {
            min-width : 95px;
            height    : 80px;
            background: #6F73EE;
        }

        &__img {
            width     : 80px;
            height    : 65px;
            background: linear-gradient(203.84deg, #FFFFFF 0.47%, #D8D8D8 89.47%);
        }
    }

    &__link {
        border-bottom: 2px dashed var(--color-primary);
    }

    &__like {
        position: static;
    }

    // @media(max-width: $laptop) {
    //     &__pictures {
    //         max-width: 300px;
    //     }
    // }
}

.quantity {
    &__input {
        max-width: var(--size-10);
    }
}