.sending {
    padding-top   : 70px;
    padding-bottom: 100px;
    background    : radial-gradient(74.38% 244.23% at 75.04% 76.25%, #3BEEAD 0%, #14AC75 82.99%);
    position      : relative;

    &__content {
        position : relative;
        max-width: 410px;
    }

    &__link {
        border-bottom: 1px dashed var(--color-black);
    }

    @media(max-width: $mobile) {
        & {
            padding-top: 50px;
            padding-bottom: 50px;
        }
    }
}